:root {
    --color-grey: #F2F2F2;
    --color-grey-border: #D9D9D9;
    --color-blue: #0065FC;
    --color-blue-light: #DEEBFF;
}

*,
:after,
:before {
    box-sizing: border-box;
    letter-spacing: 0.03rem;
}

html,body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

#app {
    width: 100%;
    height: 100%;
}

/* ----------- TEXT ----------- */

.title-section {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

.title-card {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.text-price {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.title-18 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

h1,h2,h3,p {
    margin: 0;
}

/* ----------- HEADER ----------- */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 31px;
}

.logo-header {
    width: 61px;
    height: 100%;
    margin-top: 21px;
    margin-bottom: 48px;
}

.logo-header:hover {
    cursor: pointer;
}

nav {
    width: 100%;
}

ul {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 23px;
    flex: 1;
}

li:hover {
    color: var(--color-blue);
    border-bottom: 3px solid var(--color-blue);
    padding-bottom: 20px;
    cursor: pointer;
}

/* ----------- SECTION FILTER ----------- */

.section {
    display: flex;
    flex-direction: column;    
}

.section-filter {
    padding: 0 20px;
    margin-bottom: 17px;
}

.section-filter h1 {
    margin-bottom: 13px;
}

.search-city-wrapper {
    width: 100%;
    min-width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 34px;
    border: 1px solid var(--color-grey-border);
    border-radius: 15px;
    overflow: hidden;
}

.map-marker-wrapper {
    width: 50px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey);
}

.search-city {
    min-width: 50px;
    height: inherit;
    border: none;
    outline: none;
    padding-left: 17px;
    flex: 1;
}

.search-button {
    width: 50px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--color-blue);
}

.search-button-rechercher {
    display: none;
}

.filtered-wrapper {
    display: flex;
    flex-direction: column;
   
}

.filtres-title {
    margin: 0 0 15px 0;
}

.filtered-items-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.filtered-item {
    width: 160px;
    display: flex;
    align-items: center;
    padding: 19px 13px 18px 13px;
    margin-bottom: 17px;
    border: 2px solid var(--color-grey-border);
    border-radius: 25px;
}

.filtered-item p {
    font-size: 11px;
    font-weight: 700;
    line-height: 13px;
}

.filtered-item i {
    margin-right: 10px;
    color: var(--color-blue);
}

.filtered-item:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.info-wrapper {
    display: flex;
    align-items: center;
}

.info-logo {
    width: 24px;
    min-width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-grey-border);
    border-radius: 50%;
    margin-right: 11px;
}

.info-logo .fa-info {
    font-size: 12px;
    color: var(--color-blue)
}

/* ----------- SECTION ACCOMODATION ----------- */

/* ----------- most popular ----------- */

.section-accommodation {
    display: flex;
    flex-direction: column;
}

.most-popular-wrapper {
    background-color: var(--color-grey);
    padding: 28px 0px 47px 0px;
}

.most-popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 26px;
}

.fa-chart-line {
    color: var(--color-blue);
}

.cards-sponsored-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.card-sponsored-wrapper {
    width: 100%;
    height: 144px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    
}

.card-sponsored-img-wrapper {
    position: relative;
    width: 137px;
    min-width: 137px;
    height: 144px;
    border: 5px solid white;
}

.card-sponsored-img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

.card-text-wrapper {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 10px 12px 15px;
}

.stars-wrapper {
    display: flex;
    color: var(--color-blue);
}

.stars-wrapper i:nth-last-child(1) {
    color: var(--color-grey);
}

