:root {
    --color-grey: #F2F2F2;
    --color-grey-border: #D9D9D9;
    --color-blue: #0065FC;
    --color-blue-light: #DEEBFF;
}

*,
:after,
:before {
    box-sizing: border-box;
    letter-spacing: 0.03rem;
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

#app {
    width: 100%;
    max-width: 1400px;
    height: 100%;
}

/* ----------- TEXT ----------- */

.section h1, .section h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

.title-18 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.card-text-wrapper h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.text-price {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.title-18 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

a {
    text-decoration: none;
    color: black;
}

/* ----------- HEADER ----------- */

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 31px;
}

.logo-header {
    width: 61px;
    height: 100%;
    margin-top: 21px;
    margin-bottom: 48px;
}

.logo-header:hover {
    cursor: pointer;
}

nav {
    width: 100%;
    display: flex;
}

nav ul {
    width: 100%;
    display: flex;
    align-items: center;
}

nav li {
    display: flex;
    justify-content: center;
    flex: 1;
}

nav a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 23px;
}

nav a:hover {
    color: var(--color-blue);
    border-bottom: 3px solid var(--color-blue);
    padding-bottom: 20px;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

/* ----------- SECTION FILTER ----------- */

.section {
    display: flex;
    flex-direction: column;    
}

.section-filter {
    padding: 0 20px;
    margin-bottom: 17px;
}

.section-filter h1 {
    margin-bottom: 13px;
}

.search-city-wrapper {
    position: relative;
    max-width: 332px;
    min-width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 34px;
    border-radius: 15px;
    overflow: hidden;
}

.search-city-wrapper > i {
    width: 50px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey);
    cursor: pointer;
}

.search-city-wrapper > form {
    display: flex;
    min-width: 50px;
    height: inherit;
    border-top: 1px solid var(--color-grey-border);
    border-bottom: 1px solid var(--color-grey-border);
    flex: 1;
}

.search-city-wrapper > form input {
    width: 100%;
    border: none;
    outline: none;
    padding-left: 17px;
    padding-right: 56px;
}

.search-button {
    position: absolute;
    width: 50px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: white;
    background-color: var(--color-blue);
    cursor: pointer;
}

.search-button > p {
    display: none;
}

.filtered-wrapper {
    display: flex;
    flex-direction: column;
   
}

.filtered-wrapper > p {
    margin: 0 0 15px 0;
}

.filtered-items-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filtered-item {
    width: 160px;
    display: flex;
    align-items: center;
    padding: 19px 13px 18px 13px;
    margin-right: 14px;
    margin-bottom: 17px;
    border: 2px solid var(--color-grey-border);
    border-radius: 25px;
}

.filtered-item p {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.filtered-item i {
    margin-right: 10px;
    color: var(--color-blue);
}

.filtered-item:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.info-wrapper {
    display: flex;
    align-items: center;
}

.info-wrapper > i {
    width: 24px;
    min-width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-grey-border);
    border-radius: 50%;
    margin-right: 11px;
}

.info-wrapper > i {
    font-size: 12px;
    color: var(--color-blue)
}

/* ----------- SECTION ACCOMODATION ----------- */

/* ----------- global property ----------- */

.card {
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
}

.card-text-wrapper {
    position: relative;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}

.stars-wrapper {
    display: flex;
    color: var(--color-blue);
}

.stars-wrapper i:nth-last-child(1) {
    color: var(--color-grey);
}

/* ----------- most popular ----------- */

.most-popular-wrapper {
    background-color: var(--color-grey);
    padding: 28px 20px 47px 20px;
}

.most-popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}

.fa-chart-line {
    color: var(--color-blue);
}

.cards-sponsored-wrapper {
    display: flex;
    flex-direction: column;
}

.cards-sponsored-wrapper a {
    width: 100%;
    height: 144px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cards-sponsored-wrapper img {
    position: relative;
    max-width: 137px;
    min-width: 50px;
    height: inherit;
    border: 5px solid white;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    flex: 1;
}

.cards-sponsored-wrapper .card-text-wrapper {
    padding: 16px 10px 12px 15px;
}

/* ----------- accommodation ----------- */

.accommodation-wrapper {
    padding: 26px 20px 105px 20px;
}

.accommodation-wrapper h2 {
    margin-bottom: 19px;
}

.cards-accommodation-wrapper a {
    position: relative;
    width: 100%;
    height: 206px;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.cards-accommodation-wrapper img {
    position: relative;
    width: 100%;
    height: 124px;
    min-height: 124px;
    border: 5px solid white;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.cards-accommodation-wrapper .card-text-wrapper {
    padding-left: 16px;
}

.cards-accommodation-wrapper .stars-wrapper {
    padding-bottom: 11px;
}

.accommodation-wrapper .title-18 {
    display: none;
}

/* ----------- ACTIVITIES ----------- */

.cards-activities-wrapper {
    display: flex;
    flex-direction: column;
}

.section-activities {
    padding: 0px 20px 101px 20px;
}

.section-activities h2 {
    margin-bottom: 24px;
}

.cards-activities-wrapper a {
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.cards-activities-wrapper img{
    position: relative;
    width: 100%;
    height: 134px;
    min-height: 134px;
    object-fit: cover;
}

.cards-activities-wrapper h3 {
    padding-left: 19px;
    justify-content: center;
    font-size: 16px;
}

/* ----------- FOOTER ----------- */

footer {
    width: 100%;
}

.footer-links-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 45px 30px 60px;
    background-color: var(--color-grey);
}

.footer-link-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.footer-link-wrapper:nth-last-child(1) {
    margin-bottom: 0px;
}

.footer-link-wrapper .title-18 {
    margin-bottom: 20px;
}

.footer-link-wrapper ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-link-wrapper li {
    display: flex;
}

.footer-link-wrapper a {
    padding-bottom: 12px;
}

.footer-link-wrapper a:hover {
    color: var(--color-blue);
}

/* ----------- TABLET ----------- */
/* ------------------------------ */

@media (min-width: 768px) {

    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 42px 0px 72px;
        margin-bottom: 63px;
    }

    .logo-header {
        margin-top: 44px;
        margin-bottom: 0px;
    }

    nav{
        width: auto;
    }

    nav ul {
        justify-content: flex-end;
    }

    nav li {
        margin-left: 70px;
    }

    nav a {
        padding-bottom: 0px;
        padding-top: 48px;   
    }

    nav a:hover {
        border-top: 2px solid var(--color-blue);
        padding-top: 46px;
        border-bottom: none;
        padding-bottom: 0px;
        cursor: pointer;
    }

    /* ----------- search ----------- */

    .search-city-wrapper {
        max-width: 400px;
        margin: 20px 0px 32px 0px;
    }

    .search-button {
        position: relative;
        width: 132px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;  
    }

    .search-city-wrapper > form input {
        padding-right: 6px;
    }

    .search-button > p {
        display: flex;
    }

    .search-button i {
        display: none;
    }

    /* ----------- filter ----------- */

    .section-filter {
        padding: 0px 45px;
    }

    .filtered-wrapper {
        flex-direction: row;
        align-items: center;
        margin-bottom: 37px;
    }

    .filtered-wrapper > p {
        margin: 0px 17px 0px 0px;
    }

    .filtered-item {
        width: auto;
        margin-bottom: 0px;
        margin-bottom: 6px;
        padding: 14px 20px;
    }

    .filtered-item p {
        font-size: 17px;
        line-height: 20px;
    }

    /* ----------- accommodation ----------- */

    .section-accommodation {
        flex-direction: column-reverse;
        padding: 0px 45px 70px;
    }

    .accommodation-wrapper {
        margin-bottom: 53px;
        padding: 42px 32px 46px;
        border-radius: 20px;
        background-color: var(--color-grey);
    }

    .accommodation-wrapper h2 {
        margin-bottom: 23px;
    }

    .cards-accommodation-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .accommodation-wrapper a {
        width: 32%;
    }

    .accommodation-wrapper .title-18{
        display: flex;
        margin-top: 10px;
        padding-left: 4px;
    }

    /* ----------- most popular ----------- */

    .most-popular-wrapper {
        padding: 34px 22px 48px;
        border-radius: 20px;
    }

    .cards-sponsored-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .cards-sponsored-wrapper a{
        width: 32%;
    }

    /* ----------- activities ----------- */

    .section-activities {
        padding: 0px 45px 69px;
    }

    .section-activities h2 {
        margin-bottom: 34px;
    }

    .cards-activities-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .cards-activities-wrapper a{
        width: 23%;
    }

    /* ----------- FOOTER ----------- */

    footer {
        padding: 0px 45px;
    }

    .footer-links-wrapper {
        flex-direction: row;
        padding: 45px 70px 58px;
    }

    .footer-link-wrapper {
        padding-right: 82px;
        margin: 0px;
    }
    
    .footer-link-wrapper:nth-last-child(1) {
        padding-right: 0px;
    }
}

/* ----------- DESKTOP ----------- */

@media (min-width: 992px) {

    .filtered-item p {
        font-size: 17px;
        line-height: 20px;
    }

    .section-accommodation {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .accommodation-wrapper {
        width: 65%;
        margin: 0px;
    }

    .most-popular-wrapper {
        width: 30%;
        padding: 41px 32px 34px;
    }

    .cards-sponsored-wrapper {
        flex-direction: column;
    }

    .cards-sponsored-wrapper a {
        width: 100%;
    }

    .cards-activities-wrapper a {
        height: 445px;
    }

    .cards-activities-wrapper img {
        height: 390px;
    }

    .footer-link-wrapper {
        width: 33%;
        padding: 0px;
    }
}